.hidden {
  display: none;
}

.link{
  background-color: yellow;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
}

#fancy {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 3px;
}

#fancy td, #fancy th {
  border: 1px solid #ddd;
  padding: 8px;
}

#fancy tr:nth-child(even){background-color: #f2f2f2;}

#fancy tr:hover {background-color: #ddd;}

#fancy th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.buttonPosition {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.modalPosition {
  position: absolute;
  bottom: 100px;
  right: 50px;
}

/* NAVIGATION */
nav {
  width: 100%;
  margin: 0 auto;
  background: #fff;
  padding: 20px 0;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%);
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #191919;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #6c6c6c;
}

.img {
  cursor: pointer;
}

/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}


/*Bounce*/
@keyframes kreep {
  0% {-webkit-transform: scale(1.1,.9);
      transform: scale(1.1,.9);}
 50% { -webkit-transform: scale(.9,1.1) translateY(-.5rem)}
 70% { -webkit-transform: scale(1);
       transform: scale(1);}
}
div.kreep {
animation: kreep 0.7s ease 2s infinite alternate;
}

// div.kreep:hover {
// animation: none;
// }
