.red {
  color: red;
  font-size: 9px;
}

.label {
  margin-right: 5px;
}

.blue {
  color: #3f51b5;
  font-size: 12px;
}

.radio {
  font-size: 12px;
  margin-left: 15px;
}

.field {
  margin-top: 5px;
}

.input-row {
  display: flex;
  align-items: center;
}

.checkbox-field {
  margin-right: 5px;
}

.select-class {
  max-width: 180px;
  margin-bottom: 10px;
  margin-left: 80%;
}

.wrapper {
  position: absolute;
  left: 380px;
  font-weight: 400;
  margin-top: 10px;
}

img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

.removebutton {
  float: right;
}
